#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

label,input{
  display: block;
  width: 100%;
}
.nameTask{
  width: 100%;
}
.inputName{
  width:70%;
  height: 10px;
  padding: 10px;
  margin: 52px auto 20px auto;
  border: 1px solid gray;
  border-radius: 5px;
}
.blockErr{
  width: 75%;
  margin:-40px auto 0px auto
}
.errors{
  color: red;
}
.block{
  border: 1px solid black;
  border-radius: 5px;
  width:100%;
}
.blockTextArea{
  width:73%;
  margin: auto;
}
.textDes{
  float: left;
  font-size: 14px;
  font-weight: bold;
}
.textArea{
  width:100%;
  height: 100px;
}
.blockOption{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:12px;
  width: 73%;
  margin: auto;

}
.op1{
  float: left;
  font-size: 14px;
  font-weight: bold;
}
.date{
  width: 98%;
  padding-top: 5px;
  height: 30px;
}
.select{
  width: 100%;
  padding-top: 5px;
  height: 40px;
}
.btn{
  margin-top: 80px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #0DB27F;
  color: snow;
  width: 75%;
}
.btn:hover{
  background-color: #dc2626;
  border:transparent;
}
.test{
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.check{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* .check2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
} */
.check>a{
  width:30%;
  border: 1px solid #dc2626;
  background-color: #dc2626;
  color: snow;
  padding: 4px 28px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.inputCheck{
  width: 15px;
  height: 15px;
  float: right;
}
.nameTask{
  float: left;
  width: 80%;
}
.collBtn>span{
  float: right;
  border: 1px solid #06b6d4;
  background-color: #06b6d4;
  color: snow;
  padding: 4px 24px;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder{
  color: black;
}